[submodule "Livechat-Wizard"]
	path = Livechat-Wizard
	url = https://github.com/Scikous/Livechat-Wizard.git
[submodule "STT_Wizard"]
	path = STT_Wizard
	url = https://github.com/Scikous/STT-Wizard.git
[submodule "TTS-Wizard"]
	path = TTS-Wizard
	url = https://github.com/Scikous/TTS-Wizard.git
[submodule "LLM-Wizard"]
	path = LLM-Wizard
	url = https://github.com/Scikous/LLM-Wizard.git
[submodule "STT-Wizard"]
	path = STT-Wizard
	url = https://github.com/Scikous/STT-Wizard.git
