[submodule "Livechat_WizardO"]
	path = Livechat_WizardO
	url = https://github.com/Scikous/Livechat-Wizard.git
[submodule "STT_WizardO"]
	path = STT_WizardO
	url = https://github.com/Scikous/STT-Wizard.git
[submodule "TTS_WizardO"]
	path = TTS_WizardO
	url = https://github.com/Scikous/TTS-Wizard.git
[submodule "LLM_WizardO"]
	path = LLM_WizardO
	url = https://github.com/Scikous/LLM-Wizard.git
[submodule "STT_WizardO"]
	path = STT_WizardO
	url = https://github.com/Scikous/STT-Wizard.git
