[submodule "Livechat_Wizard"]
	path = Livechat_Wizard
	url = https://github.com/Scikous/Livechat-Wizard.git
[submodule "STT_Wizard"]
	path = STT_Wizard
	url = https://github.com/Scikous/STT-Wizard.git
[submodule "TTS_Wizard"]
	path = TTS_Wizard
	url = https://github.com/Scikous/TTS-Wizard.git
[submodule "LLM_Wizard"]
	path = LLM_Wizard
	url = https://github.com/Scikous/LLM-Wizard.git
[submodule "STT_Wizard"]
	path = STT_Wizard
	url = https://github.com/Scikous/STT-Wizard.git
